# Go
# Build your Go project.
# Add steps that test, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/go

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  modulePath: '$(GOPATH)/src/github.com/$(build.repository.name)' # Path to the module's code

steps:

- task: InstallSSHKey@0
  inputs:
    knownHostsEntry: 'github.com,13.250.177.223 ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ=='
    sshPublicKey: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDhevOFxSCRaXqWa2uuKiLGg9lP1LSIJV3YCmwezlEqRCXhpTc1RavcmIHMo83o8SEE4DO1k7hHRS0Zv7OeR/g4ubV1bhT/Gbrv7ujSeu6JCnNQ83F/21RPWwT/C80ZMO1XH5wHeUjLE7HX6uAYYZwPFVWNTavdv6hOGKfbXyZ+3jT1HKbCr5sJ5a2n9gLpkqLCfudzVi6+xsJUKYvHeqLWrKLXdoP5w5xovVGGkFYd0wyabpXbYPBnF+XiPC1MKiFG2gJd3pSmvy7yEkcuhbbEJOtd3kMo9oPXnpn1QnVQEmSM6q0sxmaUeFyb+s7igqM74Dw2yEyzt0JX3bcmdE9n averpix@gmail.com'
    sshPassphrase: '@gungPrakasy4'
    sshKeySecureFile: myPrivateKey

- script: |
    git config --global url."git@github.com:quayilab/petrinet".insteadOf "https://github.com/quayilab/petrinet"

- task: GoTool@0
  inputs:
    version: '1.13.5'
- task: Go@0
  inputs:
    command: 'get'
    arguments: '-d'
    workingDirectory: '$(System.DefaultWorkingDirectory)'
- task: Go@0
  inputs:
    command: 'test'
    arguments: '-v -coverprofile=coverage.txt -covermode count .'
    workingDirectory: '$(modulePath)'
#- task: Go@0
#  inputs:
#    command: 'build'
#    workingDirectory: '$(System.DefaultWorkingDirectory)'
#- task: CopyFiles@2
#  inputs:
#    TargetFolder: '$(Build.ArtifactStagingDirectory)'
#- task: PublishBuildArtifacts@1
#  inputs:
#     artifactName: drop